.idea/.gitignore
.idea/LicensePlateRecognitonSystem.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
__pycache__/util.cpython-310.pyc
models/detectron/lastest_detectron2.pth
